<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="nav">
        <nav>
            <div class="st">
                <img src="/static/assets/jarvis logo.jpg" alt="" srcset="">
                <p>JARVIS</p>
            </div>
            <div class="btn">

                <button onclick="window.location.href='/login'">LOGIN</button>
            </div>


        </nav>
    </div>
    <div class="main">
        <div class="right">
            <div class="one">
                <p>
                    <b>Seamless Interaction</b> <br>
                    Communicate effortlessly <br>
                    without switching languages. <br>
                </p>
            </div>
            <div class=" one two">
                <p>
                    <b> Personalized Responses</b> <br>
                    Receive output tailored to <br>
                    your voice and words.<br>
                </p>
            </div>
            <div class="one three">
                <p>
                    <b>Multilingual Fluency</b> <br>
                    Designed for speakers of <br>
                    diverse languages.<br>
                </p>
            </div>
            <a href="/usermanual">Learn how to use our Jarvis </a>
        </div>
        <div class="left">
            <div class="img"><img src="/static/assets/home pic.jpg" alt="" srcset=""></div>
            <div class="txt">
                Experience the joy of technology that <br>
                speaks your language. Start your <br>
                journey with our AI voice assistant <br>
                today.<br>
            </div>
        </div>

    </div>
</body>

</html>