<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login">
        <div class="header">
            <img src="/static/assets/logo.png" alt="Jarvis Logo" class="logo">
            <h1>Jarvis</h1>
        </div>
        
        
        <form action="/register" method="post">
            <input type="text" placeholder="Username/Mobile-Number" required name="username">
            <input type="password" placeholder="Password" required name="password">
            <input type="password" placeholder="Confirm Password" required name="confirm">

            <div class="terms">
                <input type="checkbox" id="agree">
                <label for="agree">
                    I confirm that I have read, consent and agree to Jarvis's Terms of Use and Privacy Policy.
                </label>
            </div>

            <button type="submit" class="login-btn">Register</button>
            
            <div class="links">
                <a href="/login" class="signup">LogIn</a>
            </div>

            <div class="divider">OR</div>

            <button class="google" onclick="window.location.href='/client/auth/google'">
                <img src="/static/assets/ggl.png" alt="Google"> Sign in with Google
            </button>
        </form>
    </div>
</body>
</html>
